public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*sharp*
script-shell=/bin/bash
allow-workspace-cycles=true
shamefully-hoist=true

# Allow sharp to run build scripts
enable-pre-post-scripts=true
